<mat-sidenav-container id="app">
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="app-title" fxLayout="row" fxLayoutAlign="space-around center">
                <img class="logo" src="../assets/img/Jumia-group-logo.webp" alt="Jumia">
                <a fxLayout="column" fxLayoutAlign=" start">
                    <span class="sub-title">Customers Phone</span>
                </a>
            </div>
        </mat-toolbar>
        <main>
            <app-customer></app-customer>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>